*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.clearfix::after{
    content:"";
    display: table;
    clear:both;
}

.container{
    background-image: url(../img/jumbo.png);
    height: 850px;
    background-position: center;
    background-size: cover;
    padding-top: 30px;
}

.top-box{
    max-width: 1200px;
    height: 50px;
    margin: 0 auto;
}

.ds-logo{
    width: 25%;
    height: 50px;
    line-height: 34px;
}

.menu{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    line-height: 34px;
}

.menu ul{
    list-style: none;
    line-height: 34px;
    font-family: 'Pontano Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;

}

.menu li{
    display: inline-block;
    padding: 0px 15px;
}

.login{
    width: 95px;
    text-align: center;
    font-size: 20px;
    background-color: white;
    border: 1px solid white;
    border-radius: 30px;
    height: 40px;
    line-height: 34px;
}

.block-center{
    border: black 2px solid;
    height: 500px;
    width: 860px;
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-family: 'Pontano Sans', sans-serif; 
    color: white;
}

.txt1{
    font-size: 60px;
    font-weight: bold;
}

.txt2{
    font-size: 22px;
}







