*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.clearfix::after{
    content:"";
    display: table;
    clear:both;
}

.container{
    background-image: url(../img/jumbo.png);
    height: 800px;
    background-position: center;
    background-size: cover;
    padding-top: 10px;
}

.top-box{
    max-width: 1200px;
    height: 80px;
    border: black 2px solid;
    margin: 0 auto;
}

.ds-logo{
    width: 25%;
    height: 80px;
    border: black 2px solid;
    padding: 20px;
}

.menu{
    width: 50%;
    height: 80px;
    border: black 2px solid;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

ul{
    list-style: none;
    line-height: 20px;
}

li{
    display: inline-block;
}









